
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Crawler Output
output/
mock_products.db
kraus_products.db

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Data
public/data/mockups/*
!public/data/mockups/.gitkeep
browser_data/
data/out/
